* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-background-color: #E3EDF7;
    --white-glassy-background: rgba(255, 255, 255, 0.4);
    --dark-text: #000000;
    --light-text: rgba(0, 0, 0, 0.6);
    --light-border: rgba(0, 0, 0, 0.6);
    --light-color: rgba(0, 0, 0, 0.6);
    --speakit-blue: #137ffb;
    --font-white: #f5f5f5;
    --color-white: #f5f5f5;
    --font-maroon: #800201;
}

body {
    background-color: var(--white-background-color);
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    font-family: 'Manrope', sans-serif;
}

.white {
    color: var(--color-white);
}

.darktext {
    color: var(--light-color);
}


.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: right;
    text-align: right; */
    justify-content: right;
    padding: 15px;
    z-index: 9999;
}

.nav-container .nav-item .nav-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}



.nav-a a {
    font-size: 12px;
    color: var(--light-color);
}

.nav-a.user {
    padding: 10px;
    border: solid 1px var(--light-border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.nav-a.user i {
    font-size: 20px;
}

.functions ul .nav-bar {
    border: none;
}

.first-page-container {
    z-index: 9999;
}

.first-page-container {
    height: 90vh;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.first-page-container .first-con .title {

}

.first-page-container .first-con .title h1 {
    font-size: 134px;
    line-height: 1;
    color: var(--dark-text);
    text-shadow: 
    4px 4px 8px #b8b9be,
    -4px -4px 8px #ffffff;
}

h1.inset {
    text-shadow: 
      inset 4px 4px 8px #b8b9be, 
      inset -4px -4px 8px #ffffff;
  }

.first-page-container .first-con .title p {
    font-size: 33px;
    line-height: 1;
    color: var(--light-text);
}

.first-page-container .first-con .title span {
    font-size: 16px;
    line-height: 1;
    color: var(--light-text);
}

.img-lamp {
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: auto;
}

.img-lamp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account {
    position: fixed;
    bottom: 60px;
    left: 60px;
    padding: 10px;
}

.account ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
}

.account ul li:last-child {
    margin-bottom: 0;
}

.account ul li a {
    color: var(--light-color);
    font-size: 20px;
}

.functions {
    position: fixed;
    bottom: 60px;
    right: 60px;
    padding: 10px;
}

.functions ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.functions ul li:last-child {
    margin-bottom: 0;
}

.functions span {
    font-size: 9px;
    color: var(--light-text);
}

.functions ul li a, button {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    color: var(--light-color);
    font-size: 20px;
    height: 40px; 
    width: 40px;
    border-radius: 50%; 
    /* background-color: #137ffb;  */
    border: 1px solid var(--light-border);
    text-align: center; 
}





/* Projecttttttttttttttttttttttttttttttttttttttttttttttttttttttttt */
.project-container.spkt {
    height: 100vh;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* para sa selpon responsivenessss */
.project-container.spkt .project-item.spkt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* gap: 20px; */
    /* background-color: #137ffb; */
}

/* .project-img.spkt{background-color: #137ffb;} */
.project-img.spkt .tools {
    text-align: center;
    color: var(--light-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.project-img.spkt .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project-img.spkt .tools ul li {
    list-style: none;
}
/* selpon responsivenessssssssssssssssssssssssssssssssssss */
.project-img.spkt .img-con.spkt {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30rem;
    height: 30rem;
    margin: 20px; */
}

/* selpon responsivenessssssssssssssssssssssssssssssss */
.img-con.spkt img.bg {
    position: relative;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px var(--dark-text));
    transition: 1s;
    /* height: 100%;
    width: 60%; */
}



.project-img.spkt .img-con.spkt:hover img.bg {
    transform: perspective(25px) rotateX(1deg) translateY(-50px);
}

.img-con.spkt img.hover {
    position: absolute;
    /* width: 17rem; */
    height: auto;
    transition: 1s;
    /* margin-bottom: 155px; */
}

.project-img.spkt .img-con.spkt:hover img.hover {
    transform: translateY(-150px) translateX(-10px);  /* Phone Shadow */
    /* width: 25rem; */
    /* margin-bottom: 85px; */
}

.img-con.spkt::after {
    content: "I love you";
    display: block;
    text-align: center;
    /* margin-top: 240px; */
    font-weight: 900;
    /* font-size: 24px; */
    color: var(--font-white); 
    position: absolute;
    transition: 1s;
}

.img-con.spkt:hover::after {
    /* margin-top: 150px; */
    transform: rotateX(0deg) scale(1.1); /* Brings text upright and slightly enlarges */
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

/* Speakit project description */

.project-item.spkt .project-desc.spkt {
    /* background-color: #137ffb; */
    padding: 10px;
    transition: 1s;
    width: 100%;
}

.project-item.spkt .project-desc.spkt .spkt-title h1 {
    /* font-size: 63px; */
    color: var(--dark-text);
    /* letter-spacing: 12px; */
    text-shadow: 4px 4px 8px #b8b9be,  /* Dark shadow for depth */
    -4px -4px 8px #ffffff;;
}



.project-item.spkt .project-desc.spkt .spkt-title h1.inset {
text-shadow: 
  inset 4px 4px 8px #b8b9be,  /* Inner dark shadow */
  inset -4px -4px 8px #ffffff; /* Inner light shadow */
}

.project-item.spkt .project-desc.spkt .spkt-title h1 span.it {
    color: var(--speakit-blue);
}

.project-item.spkt .project-desc.spkt .spkt-title p {
    /* font-size: 31px; */
    color: var(--light-text);
    /* letter-spacing: 2px; */
}

.project-item.spkt .project-desc.spkt .spkt-title span {
    color: var(--light-text);
    letter-spacing: 2px;
}

/* Dropdown container */
.dropdown {
    position: relative;
    color: white;
    padding: 10px 10px 10px 0;
    text-align: left;
    cursor: pointer;
    z-index: 999;
}

/* Hidden child info */
.dropdown .info {
    top: 100%;
    width: 100%;
    /* padding-bottom: 300px; */
    color:var(--light-text);
    /* padding: 20px; */
    box-sizing: border-box;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white-glassy-background);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.dropdown .info {
    text-align: right;
    font-size: larger;
}

/* Hover effect */
.dropdown:hover .info {
    opacity: 1;
    max-height: 300px;
}

.dropdown .info span {
    font-size: 14px !important;
    letter-spacing: normal !important;
    text-align: justify;
}


/* Kiosk Sectionnnnnnnnnnnnnnnn */
/* Project Container */
.project-container.ksk {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Styling for Mobile */
.project-container.ksk .project-item.ksk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

/* Image Container and Tools Styling */
.project-img.ksk .tools {
    text-align: center;
    color: var(--light-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.project-img.ksk .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project-img.ksk .tools ul li {
    list-style: none;
}

/* Image Hover and Transition Effects */
.project-img.ksk .img-con.ksk {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-con.ksk img.bg-ksk {
    position: relative;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px var(--dark-text));
    transition: 1s;
}

.project-img.ksk .img-con.ksk:hover img.bg-ksk {
    transform: perspective(25px) rotateX(1deg) translateY(-50px);
}

.img-con.ksk img.hover-ksk {
    position: absolute;
    height: auto;
    transition: 1s;
}

.project-img.ksk .img-con.ksk:hover img.hover-ksk {
    transform: translateY(-150px) translateX(-10px);
}

.img-con.ksk::after {
    content: "Queuing Kiosk";
    display: block;
    text-align: center;
    font-weight: 900;
    color: var(--font-maroon); 
    position: absolute;
    transition: 1s;
}

/* .img-con.ksk:hover::after {
    transform: rotateX(0deg) scale(1.1);
    text-shadow: 1px 1px 1px #ebe2e2,
                 1px 2px 1px #ebe2e2,
                 1px 3px 1px #ebe2e2,
                 1px 18px 6px rgba(203, 195, 195, 0.4),
                 1px 22px 10px rgba(203, 195, 195, 0.4),
                 1px 25px 35px rgba(203, 195, 195, 0.4),
                 1px 30px 60px rgba(203, 195, 195, 0.4);
} */

.img-con.ksk:hover::after {
    transform: rotateX(0deg) scale(1.1);
    text-shadow: 1px 1px 1px #919191,
                 1px 2px 1px #919191,
                 1px 3px 1px #919191,
                 1px 18px 6px rgba(16,16,16,0.4),
                 1px 22px 10px rgba(16,16,16,0.2),
                 1px 25px 35px rgba(16,16,16,0.2),
                 1px 30px 60px rgba(16,16,16,0.4);
}

/* Project Description */
.project-item.ksk .project-desc.ksk {
    padding: 10px;
    transition: 1s;
    width: 100%;
}

.project-item.ksk .project-desc.ksk .ksk-title h1 {
    color: var(--dark-text);
    text-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #ffffff;
}

.project-item.ksk .project-desc.ksk .ksk-title h1.inset {
    text-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #ffffff;
}

.project-item.ksk .project-desc.ksk .ksk-title h1 span.ksk {
    color: var(--font-maroon);
}

.project-item.ksk .project-desc.ksk .ksk-title p {
    color: var(--light-text);
}

.project-item.ksk .project-desc.ksk .ksk-title span {
    color: var(--light-text);
    letter-spacing: 2px;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    color: white;
    padding: 10px 10px 10px 0;
    text-align: left;
    cursor: pointer;
    z-index: 999;
    width: 100%;
}

/* Hidden Child Info */
.dropdown .info.ksk {
    top: 100%;
    width: 100%;
    color: var(--light-text);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white-glassy-background);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.dropdown .info.ksk {
    text-align: right;
    font-size: larger;
}

/* Hover Effect */
.dropdown:hover .info.ksk {
    opacity: 1;
}

.dropdown .info.ksk span {
    font-size: 14px !important;
    letter-spacing: normal !important;
    text-align: justify;
}
/* About Modal */
.modal-container {
    position: fixed;
    z-index: 999;
    display: none;
    place-items: center;
    justify-content: space-evenly;
    /* width: 80%; */
    /* height: 80vh; */
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 20px;
}

.modal-show {
    display: flex;
}

/* .modal-container .modal-content .modal-items {
    padding: 50px 0 50px 0;
} */

.modal-container .modal-content .modal-items .modal-header {
    text-align: center;
}

.modal-container .modal-content .modal-items .modal-header .profile-info {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.modal-container .modal-content .modal-items .modal-header .profile-info .myImg {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    border: 5px solid var(--speakit-blue);
}

.modal-container .modal-content .modal-items .modal-header .profile-info .myImg img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc {
    width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: justify;
}

.modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile {
    /* padding: 20px; */
    color: var(--light-text);
    /* height: 300px; */
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile::-webkit-scrollbar {
    display: none;
}

.modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile p, ul {
    padding: 10px;
    list-style: none;
}

.profile-footer {
    font-size: 10px;
    color: var(--light-text);
}



/* Footer */

footer .footer-container {
    /* height: 5vh; */
    /* background-color: grey; */
    width: 100%;
    color: var(--light-text);
    text-align: center;
    /* font-size: 12px; */
}

footer .footer-container ul li {
    list-style: none;
}


/* Gallery */
.gallery {
    /* background-color: #800201; */
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 120px; /* Add horizontal spacing via padding */
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid orange; */
    padding-top: 50%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: scroll;
    height: 100%;
}

.gallery h1 {
   font-size: 50px; 
}

.gallery-wrapper {
    /* background-color: #fff; */
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    width: 100%;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%; /* Make it responsive */
    margin: 0 auto; /* Center the container */
}

.item-container .gallery-item {
    /* background-color: #800201; */
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    overflow: hidden; /* Prevent content overflow */
    aspect-ratio: 16/9; /* Maintain video aspect ratio */
}

.item-container .gallery-item .content-wrapper {
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: 100%; /* Fill parent height */
    width: 100%; /* Fill parent width */
}

.item-container .gallery-item iframe {
    flex: 1; /* Allow iframe to grow/shrink */
    width: 100%; /* Make iframe responsive */
    height: auto; /* Maintain aspect ratio */
    border: none; /* Remove iframe border */
    border-radius: 10px; /* Match gallery-item rounding */
    object-fit: cover; /* Ensure iframe content fits well */
}

.gallery-category {
    text-align: center;
    width: 100%;
}



 







/* For large screens (desktops) */
@media (min-width: 993px) {
    .nav-container {
        justify-content: right;
        margin: 0 100px 0 100px;
        display: none;
        height: 100vh;
    }

    .first-page-container {
        margin: 0 100px 0 100px;
        padding: 100px;
        gap: 200px;
    }

    .project-container.spkt {
        margin: 0 100px 0 100px;
        width: 70%;
    }

    .project-container.spkt .project-item.spkt{
        gap: 20px;
    }

    .project-img.spkt .img-con.spkt {
        width: 30rem;
        height: 30rem;
        margin: 20px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.spkt img.bg {
        height: 100%;
        width: 60%;
    }

    .img-con.spkt img.hover {
        width: 17rem;
        margin-bottom: 155px;
    }
    
    .project-img.spkt .img-con.spkt:hover img.hover {
        width: 25rem;
        margin-bottom: 85px;
        /* width: 30rem;
        margin-bottom: 165px; */
    }

    .img-con.spkt::after {
        margin-top: 240px;
        font-size: 24px;
    }
    
    .img-con.spkt:hover::after {
        margin-top: 150px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title h1 {
        font-size: 63px;
        letter-spacing: 12px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title p {
        font-size: 31px;
        letter-spacing: 2px;
    }


    .dropdown:hover .info {
        max-height: 300px;
        padding: 20px;
        font-size: 1px;
    }

    /* Kisok Section */

    .project-container.ksk {
        margin: 0 100px 0 100px;
        width: 70%;
    }

    .project-container.ksk .project-item.ksk{
        gap: 20px;
        flex-direction: row-reverse;
    }

    .project-img.ksk .img-con.ksk {
        width: 30rem;
        height: 30rem;
        margin: 20px;
    }

    .img-con.ksk img.bg-ksk {
        height: 100%;
        width: 60%;
    }

    .img-con.ksk img.hover-ksk {
        width: 15rem;
    }
    
    .project-img.ksk .img-con.ksk:hover img.hover-ksk {
        width: 25rem;
    }

    .img-con.ksk::after {
        margin-top: 240px;
        font-size: 24px;
    }
    
    .img-con.ksk:hover::after {
        margin-top: 150px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title h1 {
        font-size: 63px;
        letter-spacing: 12px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title p {
        font-size: 31px;
        letter-spacing: 2px;
    }

    .dropdown:hover .info {
        max-height: 300px;
        padding: 20px;
    }

    
    /* Modal */
    .modal-container {
        width: 80%;
        height: 80vh;
    }

    .modal-container .modal-content .modal-items {
        padding: 50px 0 50px 0;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info {
        flex-direction: row;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile {
        padding: 20px;
        color: var(--light-text);
        height: 300px;
    }

    footer .footer-container {
        height: 5vh;
        font-size: 9px;
    } 
    
    .gallery {
        padding-top: 500px;
    }

    
    .gallery-category {
        text-align: left;
        width: 100%;
        padding: 20px;
    }
}


@media (min-width: 577px) and (max-width: 992px) {

    /* nav */

    .nav-container {
        justify-content: center;
        display: none;
    }

    /* first page */

    .first-page-container {
        margin: 0 30px 0 30px;
        padding: 50px;
        /* gap: 100px; */
    }

    /* lamp */

    .first-page-container .first-con .title h1 {
        font-size: 120px;
        line-height: 1;
    }

    .first-page-container .first-con .title p {
        font-size: 38px;
    }
    
    .first-page-container .first-con .title span {
        font-size: 14px;
    }

    .account {
        bottom: 25px;
        left: 10px;
        padding: 10px;
    }

    .functions {
        bottom: 25px;
        right: 10px;
        padding: 10px;
    }

    .project-container.spkt {
        margin: 0 50px 0 50px;
    }

    .project-container.spkt .project-item.spkt{
        gap: 1px;
    }


    /* Hereeeeeeeeeeeeee */

    .project-img.spkt .img-con.spkt {
        width: 25rem;
        height: 25rem;
        margin: 15px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.spkt img.bg {
        height: 100%;
        width: 60%;
    }

    .img-con.spkt img.hover {
        width: 15rem;
        margin-bottom: 145px;
    }
    
    .project-img.spkt .img-con.spkt:hover img.hover {
        width: 19rem;
        margin-bottom: 10px;
    }

    .img-con.spkt::after {
        margin-top: 215px;
        font-size: 24px;
    }
    
    .img-con.spkt:hover::after {
        margin-top: 115px;
    }

    .project-img.spkt .tools {
        padding: 0 100px 0 100px;
    }

    .project-item.ksk .project-desc.ksk {
        width: 250px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title h1 {
        font-size: 34px;
        letter-spacing: 9px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title p {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .dropdown {
        width: 200px;
    }

    .dropdown .info {
        padding: 10px;
    }

    .dropdown:hover .info {
        max-height: 500px;
        /* width: 300px; */
    }

    /* Kiosk Section */

    .project-container.ksk {
        margin: 0 50px 0 50px;
    }

    .project-container.ksk .project-item.ksk{
        gap: 1px;
        flex-direction: row-reverse;
        padding: 0 50px 0 50px;
    }



    /* Hereeeeeeeeeeeeee */

    .project-img.ksk .img-con.ksk {
        width: 25rem;
        height: 25rem;
        margin: 15px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.ksk img.bg-ksk {
        height: 100%;
        width: 60%;
    }

    .img-con.ksk img.hover-ksk {
        width: 13rem;
    }
    
    .project-img.ksk .img-con.ksk:hover img.hover-ksk {
        width: 19rem;
        margin-bottom: 10px;
    }

    .img-con.ksk::after {
        margin-top: 215px;
        font-size: 24px;
    }
    
    .img-con.ksk:hover::after {
        margin-top: 115px;
    }

    .project-img.ksk .tools {
        padding: 0 100px 0 100px;
    }

    .project-item.ksk .project-desc.ksk {
        width: 250px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title h1 {
        font-size: 34px;
        letter-spacing: 9px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title p {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .dropdown {
        width: 300px;
    }

    .dropdown .info {
        padding: 10px;
    }

    .dropdown:hover .info {
        max-height: 500px;
        /* width: 300px; */
    }


    /* Modal */
    .modal-container {
        width: 80%;
        height: 90vh;
        /* background: #137ffb; */
        padding: 100px 0 100px 0;
    }

    .modal-container .modal-content .modal-items {
        padding: 40px 0 40px 0;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info {
        flex-direction: column;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile {
        padding: 20px;
        color: var(--light-text);
        height: 300px;
    }

    footer .footer-container {
        height: 5vh;
        font-size: 9px;
    } 



    footer .footer-container {
        height: 5;
        font-size: 8px;
    }

    .gallery {
        padding-top: 1500px;
    }

    
    .gallery-category {
        text-align: center;
        width: 100%;
        padding: 0;
    }
}

/* @media (max-width: 576px) { */
@media (min-width: 412px) and (max-width: 576px) { 
    .nav-container {
        /* justify-content: right;
        align-items: right; */
        position: fixed;
        padding: 20px;
        width: 100%;
        background-color: var(--white-glassy-background);
    }

    .nav-container .nav-item {
        margin: 0 40px;
    }

    .first-page-container {
        margin: 0 10px 0 10px;
        padding: 20px;
    }

    .functions ul .hide { display: none;}

    /* lamp */

    .first-page-container .first-con .title h1 {
        font-size: 80px;
        line-height: 1;
    }

    .first-page-container .first-con .title p {
        font-size: 28px;
    }
    
    .first-page-container .first-con .title span {
        font-size: 14px;
    }

    .img-lamp {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: auto;
    }
    
    .img-lamp img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .account {
        bottom: 20px;
        left: 10px;
        padding: 10px;
    }

    .functions {
        bottom: 20px;
        right: 10px;
        padding: 10px;
    }

    .project-container.spkt .project-item.spkt{
        gap: 1px;
        flex-direction: column;
    }

    /* here is the project sectionnnnnnnnnnnn*/
    .project-img.spkt .img-con.spkt {
        width: 25rem;
        height: 25rem;
        margin: 15px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.spkt img.bg {
        height: 100%;
        width: 60%;
    }

    .img-con.spkt img.hover {
        width: 15rem;
        margin-bottom: 145px;
    }
    
    .project-img.spkt .img-con.spkt:hover img.hover {
        width: 19rem;
        margin-bottom: 10px;
    }

    .img-con.spkt::after {
        margin-top: 215px;
        font-size: 24px;
    }
    
    .img-con.spkt:hover::after {
        margin-top: 115px;
    }

    .project-img.spkt .tools {
        padding: 0 100px 0 100px;
    }

    .project-item.spkt .project-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .project-item.spkt .project-desc.spkt .spkt-title h1 {
        font-size: 34px;
        letter-spacing: 9px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title p {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .dropdown {
        text-align: center;
    }


    .dropdown .info {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dropdown:hover .info {
        max-height: 500px;
        /* width: 300px; */
    }

    /* Kiosk Section */
    .project-container.ksk .project-item.ksk{
        gap: 1px;
        flex-direction: column;
    }

    /* here is the project sectionnnnnnnnnnnn*/
    .project-img.ksk .img-con.ksk {
        width: 25rem;
        height: 25rem;
        margin: 15px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.ksk img.bg-ksk {
        height: 100%;
        width: 60%;
    }

    .img-con.ksk img.hover-ksk {
        width: 13rem;
        /* margin-bottom: 145px; */
    }
    
    .project-img.ksk .img-con.ksk:hover img.hover-ksk {
        width: 19rem;
        /* margin-bottom: 10px; */
    }

    .img-con.ksk::after {
        margin-top: 215px;
        font-size: 24px;
    }
    
    .img-con.ksk:hover::after {
        margin-top: 115px;
    }

    .project-img.ksk .tools {
        padding: 0 100px 0 100px;
    }

    .project-item.ksk .project-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .project-item.ksk .project-desc.ksk .ksk-title h1 {
        font-size: 34px;
        letter-spacing: 9px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title p {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .dropdown {
        text-align: center;
    }


    .dropdown .info {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dropdown:hover .info {
        max-height: 500px;
        /* width: 300px; */
    }


    /* Modal */
    .modal-container {
        width: 90%;
        height: 80vh;
        /* background: #137ffb; */
        padding: 70px 0 70px 0;
    }

    .modal-container .modal-content .modal-items {
        padding: 30px 0 30px 0;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info {
        flex-direction: column;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .myImg img {
        height: 100px;
        width: 100px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc {
        width: 350px;
        font-size: 12px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile {
        padding: 20px;
        color: var(--light-text);
        height: 300px;
    }

/* Footer */
    footer .footer-container {
        height: 4vh;
        font-size: 8px;
    }
    

    .gallery {
        padding-top: 999px;
    }
}

/* @media (max-width: 200px) { */

@media (min-width: 360px) and (max-width: 411px) { 
    /* .nav-container {
        justify-content: center;
    } */
    .nav-container {
        /* justify-content: right;
        align-items: right; */
        position: fixed;
        padding: 10px;
        width: 100%;
        background-color: var(--white-glassy-background);
    }

    .nav-container .nav-item {
        margin: 0 15px;
    }

    .first-page-container {
        margin: 0 45px 0 45px;
        height: 100vh;
    }

    .functions ul .hide { display: none;}
    /* lamp */

    /* .first-page-container .first-con {
        box-sizing: border-box;
    } */

    .first-page-container .first-con .title h1 {
        font-size: 50px;
        line-height: 1;
    }

    .first-page-container .first-con .title p {
        font-size: 15px;
    }
    
    .first-page-container .first-con .title span {
        font-size: 12px;
    }

    .img-lamp {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: auto;
    }
    
    .img-lamp img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .account {
        bottom: 20px;
        left: 10px;
        padding: 10px;
    }

    .functions {
        bottom: 20px;
        right: 10px;
        padding: 10px;
    }

    .project-container.spkt .project-item.spkt{
        gap: 1px;
        flex-direction: column;
    }

    .project-img.spkt .img-con.spkt {
        /* width: 25rem;
        height: 25rem;
        margin: 15px; */

        /* width: 14rem;
        height: 14rem; */
        margin: 35px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.spkt img.bg {
        height: 100%;
        width: 60%;
    }

    .img-con.spkt img.hover {
        width: 8rem;
        margin-bottom: 55px;
    }
    
    .project-img.spkt .img-con.spkt:hover img.hover {
        width: 12rem;
        margin-bottom: -80px;
    }

    .img-con.spkt::after {
        margin-top: 130px;
        font-size: 18px;
    }
    
    .img-con.spkt:hover::after {
        margin-top: 30px;
    }

    .project-img.spkt .tools {
        padding: 0 100px 0 100px;
        width: 100%;
    }

    .project-img.spkt .tools p {
        font-size: 14px;
    }

    .project-item.spkt .project-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }

    .project-item.spkt .project-desc.spkt .spkt-title h1 {
        font-size: 20px;
        letter-spacing: 9px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .dropdown {
        text-align: center;
        font-family: 14px;
    }

    .dropdown .info {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dropdown:hover .info {
        max-height: 600px;
        /* width: 200px; */
    }

    /* Kiosk Section */
    .project-container.ksk .project-item.ksk{
        gap: 1px;
        flex-direction: column;
    }

    .project-img.ksk .img-con.ksk {
        /* width: 25rem;
        height: 25rem;
        margin: 15px; */

        /* width: 14rem;
        height: 14rem; */
        margin: 35px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.ksk img.bg-ksk {
        height: 100%;
        width: 60%;
    }

    .img-con.ksk img.hover-ksk {
        width: 4rem;
        /* margin-bottom: 55px; */
    }
    
    .project-img.ksk .img-con.ksk:hover img.hover-ksk {
        width: 7rem;
        margin-bottom: -120px;
    }

    .img-con.ksk::after {
        margin-top: 70px;
        font-size: 11px;
    }
    
    .img-con.ksk:hover::after {
        margin-bottom: 100px;
    }

    .project-img.ksk .tools {
        padding: 0 100px 0 100px;
        width: 100%;
    }

    .project-img.ksk .tools p {
        font-size: 14px;
    }

    .project-item.ksk .project-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }

    .project-item.ksk .project-desc.ksk .ksk-title h1 {
        font-size: 20px;
        letter-spacing: 9px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .dropdown {
        text-align: center;
        font-family: 14px;
    }

    .dropdown .info {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dropdown:hover .info {
        max-height: 600px;
        /* width: 200px; */
    }

/* Modal */
    /* Modal */
    .modal-container {
        width: 90%;
        height: 80vh;
        /* background: #137ffb; */
        padding: 50px 0 50px 0;
    }

    .modal-container .modal-content .modal-items {
        padding: 20px 0 20px 0;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info {
        flex-direction: column;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .myImg img {
        height: 80px;
        width: 80px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc {
        width: 300px;
        font-size: 11px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile {
        padding: 20px;
        color: var(--light-text);
        height: 250px;
    }

    /* footer */

    footer .footer-container {
        height: 5vh;
        font-size: 8px;
    }

    .gallery {
        padding-top: 999px;
    }
}


/* @media (max-width: 200px) { */

@media (min-width: 250px) and (max-width: 359px) { 
    /* .nav-container {
        justify-content: center;
    } */
    .nav-container {
        /* justify-content: right;
        align-items: right; */
        position: fixed;
        padding: 10px;
        width: 100%;
        background-color: var(--white-glassy-background);
    }

    .nav-container .nav-item {
        margin: 0 15px;
    }

    .first-page-container {
        margin: 0 45px 0 45px;
        height: 100vh;
    }

    .functions ul .hide { display: none;}
    /* lamp */

    /* .first-page-container .first-con {
        box-sizing: border-box;
    } */

    .first-page-container .first-con .title h1 {
        font-size: 50px;
        line-height: 1;
    }

    .first-page-container .first-con .title p {
        font-size: 15px;
    }
    
    .first-page-container .first-con .title span {
        font-size: 12px;
    }

    .img-lamp {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: auto;
    }
    
    .img-lamp img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .account {
        bottom: 20px;
        left: 10px;
        padding: 10px;
    }

    .functions {
        bottom: 20px;
        right: 10px;
        padding: 10px;
    }

    .project-container.spkt .project-item.spkt{
        gap: 1px;
        flex-direction: column;
    }

    .project-img.spkt .img-con.spkt {
        /* width: 25rem;
        height: 25rem;
        margin: 15px; */

        /* width: 14rem;
        height: 14rem; */
        margin: 35px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.spkt img.bg {
        height: 100%;
        width: 60%;
    }

    .img-con.spkt img.hover {
        width: 8rem;
        margin-bottom: 55px;
    }
    
    .project-img.spkt .img-con.spkt:hover img.hover {
        width: 12rem;
        margin-bottom: -80px;
    }

    .img-con.spkt::after {
        margin-top: 130px;
        font-size: 18px;
    }
    
    .img-con.spkt:hover::after {
        margin-top: 30px;
    }

    .project-img.spkt .tools {
        padding: 0 100px 0 100px;
        width: 100%;
    }

    .project-img.spkt .tools p {
        font-size: 14px;
    }

    .project-item.spkt .project-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }

    .project-item.spkt .project-desc.spkt .spkt-title h1 {
        font-size: 20px;
        letter-spacing: 9px;
    }

    .project-item.spkt .project-desc.spkt .spkt-title p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .dropdown {
        text-align: center;
        font-family: 14px;
    }

    .dropdown .info {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dropdown:hover .info {
        max-height: 600px;
        /* width: 200px; */
    }

    /* Kiosk Section */
    .project-container.ksk .project-item.ksk{
        gap: 1px;
        flex-direction: column;
    }

    .project-img.ksk .img-con.ksk {
        /* width: 25rem;
        height: 25rem;
        margin: 15px; */

        /* width: 14rem;
        height: 14rem; */
        margin: 35px;
    }
    
    /* selpon responsivenessssssssssssssssssssssssssssssss */
    .img-con.ksk img.bg-ksk {
        height: 100%;
        width: 60%;
    }

    .img-con.ksk img.hover-ksk {
        width: 4rem;
        /* margin-bottom: 55px; */
    }
    
    .project-img.ksk .img-con.ksk:hover img.hover-ksk {
        width: 7rem;
        margin-bottom: -120px;
    }

    .img-con.ksk::after {
        margin-top: 70px;
        font-size: 11px;
    }
    
    .img-con.ksk:hover::after {
        margin-bottom: 100px;
    }

    .project-img.ksk .tools {
        padding: 0 100px 0 100px;
        width: 100%;
    }

    .project-img.ksk .tools p {
        font-size: 14px;
    }

    .project-item.ksk .project-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }

    .project-item.ksk .project-desc.ksk .ksk-title h1 {
        font-size: 20px;
        letter-spacing: 9px;
    }

    .project-item.ksk .project-desc.ksk .ksk-title p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .dropdown {
        text-align: center;
        font-family: 14px;
    }

    .dropdown .info {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dropdown:hover .info {
        max-height: 600px;
        /* width: 200px; */
    }

    /* Modal */
    .modal-container {
        width: 90%;
        height: 95vh;
        /* background: #137ffb; */
        padding: 50px 0 50px 0;
    }

    .modal-container .modal-content .modal-items {
        padding: 5px 0 5px 0;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info {
        flex-direction: column;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .myImg img {
        height: 60px;
        width: 60px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .myImg {
        display: flex;
        padding: 2px;
        margin-right: 20px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc {
        width: 300px;
        font-size: 10px;
    }

    .modal-container .modal-content .modal-items .modal-header .profile-info .profile-desc .profile {
        padding: 0 15px 0 1px;
        color: var(--light-text);
        height: 220px;
    }

    /* footer */

    footer .footer-container {
        height: 5vh;
        font-size: 8px;
    }

    .gallery {
        padding-top: 1200px;
    }
}

